#column1 {
    flex: 50%;
  }
  
  #column {
    flex: 50%;
  }
  
  #your-choice {
    justify-content: center;
    margin: 0 auto;
    width: 350px;
    height: 350px;
  }
  
  #opponent-choice {
    justify-content: center;
    margin: 0 auto;
    width: 350px;
    height: 350px;
  }
  
  #player1-choices {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 150px;
  }
  
  #player2-choices {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 150px;
  }
  